@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button {
  outline: none;
}

.animate-bg {
  animation: movement 120s linear infinite;
}
.animate-sp {
  animation: rotation 1s linear infinite;
}

@keyframes movement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
